body {
    background-image: url(images/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%);
}

.main {
    display: flex;
    padding: 30px;
    width: 900px;
}
h1 {
    color: white;
    font-size: 45px;
}

.form {
    background: white;
    padding: 20px;
    border-radius: 7px;
    width: 300px;
}

form {
    margin-top: 8%;
}

.btn {
    color: white;
    background:  hsl(154, 59%, 51%);
    border-radius: 4px;
    width: 295px;
    height: 30px;
    border: none;
}

.btn:hover {
    background: transparent;
    color: hsl(154, 59%, 51%);
    transition: 2s;
    border: none;
}

.try {
    color: white;

}

.terms {
    color: hsl(0, 100%, 74%);
}

.p {
    color: hsl(246, 25%, 77%);
    font-size: x-small;
}

p {
    color: white;
}

.trial {
    color: white;
    background: hsl(248, 32%, 49%);
    border-radius: 4px;
    width: 340px;
    height: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.trial:hover {
    background: transparent;
    color: hsl(248, 32%, 49%);
    transition: 2s;
    border: none;
}

.a {
    padding: 30px;
    width: 350px;
    margin-top: 20%;
    margin-left: 18%;
}

input {
   width: 280px;
   height: 30px;
   padding-left: 10px;
   margin-bottom: 20px;
   border: solid red 1.5px;
   border-radius: 4px;
}

input:active {
    color: white;
    background: hsl(154, 59%, 51%);
}

.alert {
    color: red;
    text-align: end;
    display: none;
}

@media (max-width:550px) {
    body {
        background-image: url(images/bg-intro-mobile.png);
        background-color: hsl(0, 100%, 74%);
    }
    
    .main {
        display: grid;
        padding: 30px;
        width: 500px;
    }
    
    .form {
        background: white;
        padding: 20px;
        border-radius: 7px;
        width: 300px;
    }
    
    form {
        margin-top: 8%;
        margin-left: 20%;
    }
    
    .btn {
        color: white;
        background:  hsl(154, 59%, 51%);
        border-radius: 4px;
        width: 295px;
        height: 50px;
        border: none;
    }

}

.trial {
    color: white;
    background: hsl(248, 32%, 49%);
    border-radius: 4px;
    width: 340px;
    height: 50px;
    margin-bottom: 20px;
}

footer {
    margin-left: 200px;
}